<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Age</th>
  </tr>
  </thead>
  <tbody>
  <% patients.each_with_index do |patient, index| %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= patient_id(patient) %></td>
      <td><%= patient_name(patient) %></td>
      <td><%= patient_birthday(patient) %></td>
      <td><%= patient_age(patient) %></td>
    </tr>
  <% end  %>
  </tbody>
</table>